* {
    text-align: center;
    margin: auto;
    color: white;
    font-family: Helvetica, sans-serif;
    padding: 10px 10px;
}

body {
    background-color: #212937;
}

h2,
h3 {
    text-decoration: underline;
}

p {
    max-width: 55%;
}

ul {
    display: inline;
}

li {
    list-style-type: none;
    padding: 0;
}

ol li {
    text-align: left;
    max-width: 40%;
    list-style-type: decimal;
}

img {
    width: 30%;
    height: 30%;
}